{% extends 'base.html.twig' %}

{% block title %}Notas
{% endblock %}

{% block body %}

	<h3 class="text-center">{{ titulo}}</h3>
	<br/>
	<br/>

	<div class="col-md-4">
		<a class=" btn btn-primary" type="button" href="{{ path('app_tag_crear')}}">Crear Tag</a>
		<br/>
		<br/>
	</div>
	<div class="card">
		<div class="card-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Título</th>
					</tr>
				</thead>
				<tbody>
					{% if tags|length == 0 %}
						<tr>No existen tags registradas</tr>
					{% else %}
						{% set cont = 1 %}

						{% for tag in tags %}
							<tr>
								<td>
									{{ cont }}
								</td>
								<td>
									{{ tag.titulo }}</td>
							</tr>
							{% set cont = cont + 1 %}

						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
